<html>

<head>
  <title>在职教职工</title>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="../lib/elementui/theme-chalk/index.css" type="text/css">
  <style>
    .demo-table-expand {
      font-size: 0;
    }

    .demo-table-expand label {
      width: 90px;
      color: #99a9bf;
    }

    .demo-table-expand .el-form-item {
      margin-right: 0;
      margin-bottom: 0;
      width: 50%;
    }

    [v-cloak] {
      display: none;
    }
  </style>
</head>

<body>
  <div id="app">
    <el-button type="success" icon="el-icon-plus" @click="dialogFormVisible2=true" circle></el-button>
    <template>

      <div class="container_table">
        <el-table :data="tableData.slice((currentPage-1)*pagesize,currentPage*pagesize)" style="width: 100%" stripe
          style="width: 100%" :default-sort="{prop: 'date', order: 'descending'}">
          <el-table-column type="expand">
            <template slot-scope="props">
              <el-form label-position="left" inline class="demo-table-expand">
                <el-form-item label="工号">
                  <span>{{ props.row.sid }}</span>
                </el-form-item>
                <el-form-item label="姓名">
                  <span>{{ props.row.username }}</span>
                </el-form-item>
                <el-form-item label="性别">
                  <span>{{ props.row.gender }}</span>
                </el-form-item>
                <el-form-item label="电话">
                  <span>{{ props.row.tel }}</span>
                </el-form-item>
                <el-form-item label="地址">
                  <span>{{ props.row.address }}</span>
                </el-form-item>
                <el-form-item label="职位">
                  <span>{{ props.row.position }}</span>
                </el-form-item>
                <el-form-item label="部门">
                  <span>{{ props.row.name }}</span>
                </el-form-item>
                <el-form-item label="薪资">
                  <span>{{ props.row.salary }}</span>
                </el-form-item>
              </el-form>
            </template>
          </el-table-column>
          <el-table-column label="工号" prop="sid">
          </el-table-column>
          <el-table-column label="姓名" prop="username">
          </el-table-column>
          <el-table-column label="部门" prop="name">
          </el-table-column>
          <el-table-column label="薪资状态">
            <template slot-scope="props">
              <el-select v-model='props.row.value1' placeholder="选择薪资状态" @change="selectFn(props.row.sid,$event)">
                <el-option v-for="item in options1" :key="item.value" :label="item.label" :value="item.value">
                </el-option>
              </el-select>
            </template>
          </el-table-column>
          <el-table-column label="打卡状态">
            <template slot-scope="props">
              <el-select v-model='props.row.value2' placeholder="选择打卡状态"  @change="selectFn(props.row.sid,$event)">
                <el-option v-for="item in options2" :key="item.value" :label="item.label" :value="item.value">
                </el-option>
              </el-select>
            </template>
          </el-table-column>

          <el-table-column label="操作">
            <template slot-scope="props">
              <!--编辑-->
              <el-tooltip class="item" effect="dark" content="编辑" placement="top">
                <el-button type="primary" icon="el-icon-edit" circle @click="editstaff1(props.row.sid)"></el-button>
              </el-tooltip>
              <!--删除-->
              <el-tooltip class="item" effect="dark" content="删除" placement="top">
                <el-button type="danger" icon="el-icon-delete" circle @click="open(props.row.sid)"></el-button>
              </el-tooltip>
            </template>
          </el-table-column>
        </el-table>
        <el-pagination @size-change="handleSizeChange" @current-change="current_change"
          layout="total, sizes, prev, pager, next, jumper" :page-sizes="pagesizes" :page-size="pagesize" :total="total"
          background>
        </el-pagination>
      </div>
    </template>
    <!--员工信息修改-->
    <el-dialog title="员工信息修改" :visible.sync="dialogFormVisible">
      <el-form :model="form">
        <el-form-item label="工号" :label-width="formLabelWidth">
          <el-input v-model="form.sid" disabled auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="姓名" :label-width="formLabelWidth">
          <el-input v-model="form.username" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="性别" :label-width="formLabelWidth">
          <template>
            <el-radio v-model="form.gender" label="男"></el-radio>
            <el-radio v-model="form.gender" label="女"></el-radio>
          </template>
        </el-form-item>
        <el-form-item label="电话" :label-width="formLabelWidth">
          <el-input v-model="form.tel" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="地址" :label-width="formLabelWidth">
          <el-input v-model="form.address" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="职位" :label-width="formLabelWidth">
          <el-select v-model="form.position" placeholder="选择职位">
            <el-option label="职位一" value="职位一"></el-option>
            <el-option label="职位二" value="职位二"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="部门" :label-width="formLabelWidth">
          <el-select v-model="form.deparment" placeholder="选择部门">
            <el-option label="部门一" value="部门一"></el-option>
            <el-option label="部门二" value="部门二"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="薪资" :label-width="formLabelWidth">
          <el-input v-model="form.salary" auto-complete="off" onkeyup="value=value.replace(/[^\d]/g,'')"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button v-cloak @click="dialogFormVisible = false">取 消</el-button>
        <el-button v-cloak type="primary" @click="editstaff2">确 定</el-button>
      </div>
    </el-dialog>
    <!--员工信息增加-->
    <el-dialog title="员工信息增加" :visible.sync="dialogFormVisible2">
      <el-form :model="form">
        <el-form-item label="工号" :label-width="formLabelWidth">
          <el-input v-model="form.sid" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="姓名" :label-width="formLabelWidth">
          <el-input v-model="form.username" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="性别" :label-width="formLabelWidth">
          <template>
            <el-radio v-model="form.gender" label="男"></el-radio>
            <el-radio v-model="form.gender" label="女"></el-radio>
          </template>
        </el-form-item>
        <el-form-item label="电话" :label-width="formLabelWidth">
          <el-input v-model="form.tel" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="地址" :label-width="formLabelWidth">
          <el-input v-model="form.address" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="职位" :label-width="formLabelWidth">
          <el-select v-model="form.position" placeholder="选择职位">
            <el-option label="职位一" value="职位一"></el-option>
            <el-option label="职位二" value="职位二"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="部门" :label-width="formLabelWidth">
          <el-select v-model="form.deparmentId" placeholder="选择部门">
            <el-option label="部门一" value="部门一"></el-option>
            <el-option label="部门二" value="部门二"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="薪资" :label-width="formLabelWidth">
          <el-input v-model="form.salary" auto-complete="off" onkeyup="value=value.replace(/[^\d]/g,'')"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button v-cloak @click="dialogFormVisible2 = false">取 消</el-button>
        <el-button v-cloak type="primary" @click="addstaff">确 定</el-button>
      </div>
    </el-dialog>
    </template>
  </div>
  <!-- 引入组件库 -->
  <script type="text/javascript" src="../lib/vue.js"></script>
  <script type="text/javascript" src="../lib/elementui/index.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="../lib/myconfig.js"></script>
  <script type="text/javascript">
    new Vue({
      el: "#app",
      data: {
        radio: '1',
        currentPage: 1,
        pagesizes: [5, 10, 15],
        pagesize: 5,
        formLabelWidth: '120px',
        value1: '',
        value2: '',
        dialogFormVisible: false,
        dialogFormVisible2: false,
        total: 1,
        tableData: [
          {
            pid:'',
            sid: '',
            username: '',
            password: '',
            tel: '',
            address: '',
            attend_status: '',
            gender: '',
            position: '',
            name:'',
            department_Id: '',
            authority: '',
            salary: '',
            salary_status: ''
          }],
        form: {
          id: '',
          name: '',
          phone: '',
          address: '',
          gender: '',
          position: '',
          department: '',
          salary: ''
        },
        options1: [{
          value: '已发',
          label: '已发'
        }, {
          value: '未发',
          label: '未发'
        }],
        options2: [{
          value: '已打卡',
          label: '已打卡'
        }, {
          value: '未打卡',
          label: '未打卡'
        }],
      },
      created: function () {
        var n = this;
        axios.post(
          myurl + "/department/managerList"
        ).then(function (res) {
          var resData = res.data;
          if (resData !== "") { //
            console.log("me success");
            n.$nextTick(function () {
              n.tableData = resData;
              this.total = resData.length;
            })
            console.log(resData);
          } else {
            console.log("me fail");
            console.log(resData);
          }
          console.log(res);
        });
      },
      methods: {
        open(id) {
          this.$confirm('此操作将永久删除该员工, 是否继续?', '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          }).then(() => {
            this.$message({
              type: 'success',
              message: '删除成功!'
            });
          }).catch(() => {
            this.$message({
              type: 'info',
              message: '已取消删除'
            });
          });
          if (this.type == 'success') {
            console.log('删除' + id);
            /*axios.post('', id)
            .then(function () {
              console.log(response);
            })
            .catch(function (error) {
              console.log(error);
            });*/
          } else {
            console.log("不删除" + id);
          }
        },
        handleSizeChange(val) {
          this.pagesize = val;
        },
        current_change: function (currentPage) {
          this.currentPage = currentPage;
        },
        addstaff: function () {
          this.dialogFormVisible2 = false;
          console.log(this.form);
          axios.post('', this.form)
            .then(function () {
              console.log(response);
            })
            .catch(function (error) {
              console.log(error);
            });
        },
        editstaff1: function (id) {
          this.dialogFormVisible = true;
          console.log(id);
          /*axios.post('', this.form)
            .then(function () {
              console.log(response);
            })
            .catch(function (error) {
              console.log(error);
            });*/
        },
        editstaff2: function (id) {
          this.dialogFormVisible = true;
          console.log(this.form);
          /*axios.post('', this.form)
            .then(function () {
              console.log(response);
            })
            .catch(function (error) {
              console.log(error);
            });*/
        },
        selectFn(id,e) {
          console.log(id+"的某个状态:"+e);
        }
      }
    });
  </script>
</body>

</html>