<html>

<head>
    <title>自定义列模板</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../lib/elementui/theme-chalk/index.css" type="text/css">
</head>
<body>
<div id="app">

    <el-button type="primary" plain @click="addDepartment">添加新部门</el-button>
    <el-table :data="tableData" style="width: 100%">

        <el-table-column label="部门" width="180">
            <template slot-scope="scope">
                <i class="el-icon-arrow-right"></i>
                <span style="margin-left: 10px">{{ scope.row.department }}</span>
            </template>
        </el-table-column>

        <el-table-column label="管理员" width="130">
            <template slot-scope="scope">
                <el-popover trigger="hover" placement="top">
                    <p>姓名: {{ scope.row.username }}</p>
                    <p>联系方式: {{ scope.row.tel }}</p>
                    <div slot="reference" class="name-wrapper">
                        <el-tag size="medium">{{ scope.row.username }}</el-tag>
                    </div>
                </el-popover>
            </template>
        </el-table-column>

        <el-table-column label="操作">
            <template slot-scope="scope">
                <el-button size="mini" @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
                <el-button size="mini" type="danger" @click="handleDelete(scope.$index, scope.row)">删除</el-button>
            </template>
        </el-table-column>

    </el-table>

    <el-dialog title="添加部门" :visible.sync="addWindow">
        <el-form :model="form">
            <el-form-item label="部门名称" :label-width="formLabelWidth">
                <el-input v-model="form.department" auto-complete="off"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button type="primary" @click="addDepartmentDo">确 定</el-button>
        </div>
    </el-dialog>

    <el-dialog title="编辑部门信息" :visible.sync="editWindow">
        <el-form :model="form">
            <el-form-item label="部门名称" :label-width="formLabelWidth">
                <el-input v-model="form.department" auto-complete="off"></el-input>
            </el-form-item>
            <el-form-item label="管理员" :label-width="formLabelWidth">
                <el-select v-model="form.sid" placeholder="请选择管理员">
                    <el-option v-for="item in usernameList" :label="item.username" :value="item.sid" :key="item.sid"></el-option>
                </el-select>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button type="primary" @click="handleEditDo">确 定</el-button>
        </div>
    </el-dialog>

    <el-dialog
            title="提示"
            :visible.sync="delWindow"
            width="30%">
        <span>请确认是否删除该部门</span>
        <span slot="footer" class="dialog-footer">
    <el-button @click="delWindow = false">取 消</el-button>
    <el-button type="primary" @click="handleDeleteDo">确 定</el-button>
  </span>
    </el-dialog>
</div>

<!-- 引入组件库 -->
<script type="text/javascript" src="../lib/vue.js"></script>
<script type="text/javascript" src="../lib/elementui/index.js"></script>

<script type="text/javascript">

    new Vue({
        el: "#app",
        data: {
            printStr: "",
            addWindow:false,
            editWindow:false,
            delWindow:false,
            formLabelWidth: '120px',
            form:{
                pid:"",
                sid:"",
                department:"",
                username:""
            },
            tableData: [{
                id:'11',
                department: '党委部门',
                username: '余小乐',
                tel: '18624890001',
            }, {
                department: '行政部门',
                username: '王小虎',
                tel: '1370070002',
            }, {
                department: '学生工作处',
                username: '小花',
                tel: '15103720001',
            }, {
                department: '教务处',
                username: '二哈',
                tel: '0371-6569304',
            }],
            usernameList:[{
                    sid:'1',
                    username:"王小明"
                }, {
                    sid:'2',
                    username:"刘小红"
            }]
        },
        methods: {
            handleEdit(index, row) {
                this.printStr = "点击编辑；index=" + row.department + "；row=" + JSON.stringify(row);
                this.form.department = row.department;
                this.form.pid = row.pid;
                this.form.sid = this.usernameList[0].sid;
                this.editWindow = true;
                //获取部门内成员信息，填入usernameList，第一位为管理员
                console.log(this.printStr);
            },
            handleEditDo:function(){
                console.log("确认编辑部门");
                //发送编辑后的部门请求，数据为form.department，form.pid，form.sid
                this.editWindow = false;
            },
            handleDelete(index, row) {
                this.printStr = "点击删除；index=" + row.department + "；row=" + JSON.stringify(row);
                this.form.pid = row.pid;
                this.delWindow = true;
                console.log(this.printStr);
            },
            handleDeleteDo:function(){
                this.delWindow = false;
                //发送删除部门请求，数据为form.pid
                console.log("确认删除部门");
            },
            addDepartment:function () {
                console.log("添加部门");
                this.form.department = "";
                this.addWindow = true;
            },
            addDepartmentDo:function () {
                console.log("确认添加部门");
                //发送添加部门请求，数据为form.department
                this.addWindow = false;
            }
        }
    });
</script>

</body>

</html>
